### POSTGRES VARIABLES ###
DB_NAME=#
DB_USER=#
DB_PASSWORD=#

### DOCKER VARIABLES ###
API_IMAGE=#
API_IMAGE_VERSION=#

### REDIS VARIABLES ###
REDIS_PASSWORD=#

### RABBIT MQ VARIABLES ###
RABBIT_USER=#
RABBIT_PASSWORD=#
